div#footer
	#footer-inner.container
		.row
			p Copyright &copy; 2012 <a href="https://twitter.com/christopherdb">Christopher de Beer</a> &nbsp;&nbsp;|&nbsp;&nbsp; Scratching itches &amp; learning to Ship, one project at a time.