- if (req.loggedIn)
	// Google Code for Signed In/Up Conversion Page
	script(type="text/javascript")
		/* <![CDATA[ */
		var google_conversion_id = 1003317107;
		var google_conversion_language = "en";
		var google_conversion_format = "3";
		var google_conversion_color = "ffffff";
		var google_conversion_label = "joDNCNXusAMQ88613gM";
		var google_conversion_value = 0;
		/* ]]> */

	script(type="text/javascript", src="http://www.googleadservices.com/pagead/conversion.js")

	noscript
		div(style="display:inline;")
			img(height="1", width="1", style="border-style:none;", alt="", src="http://www.googleadservices.com/pagead/conversion/1003317107/?value=0&amp;label=joDNCNXusAMQ88613gM&amp;guid=ON&amp;script=0")
div.navbar.navbar-fixed-top
	div.navbar-inner
		div.container
			a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
				span.icon-bar
				span.icon-bar
				span.icon-bar
				span.icon-bar
			//- a.brand(href="http://www.mustwatch.it") mustwatch.it
			div.nav-collapse
				ul.nav
					li
						a(href="/") Home
					- if (req.loggedIn)
						li
							a(href="/mine") My Videos
					li
						a(href="/bookmarklet") The Bookmarklet
					li
						a(href="/faq") FAQ
				- if (req.loggedIn)
					p.navbar-text.pull-right 
						a(href="/auth/logout") Sign out
				- else
					p.navbar-text.pull-right Sign in with&nbsp;
						a(href="/auth/twitter", title="Twitter") Twitter
						| ,&nbsp;
						a(href="/auth/facebook", title="Facebook") Facebook
						| , or&nbsp;
						a(href="/auth/google", title="Google") Google