
#bookmarkletLogin
	h2 mustwatch.it
	p To add videos to your List, you need to be logged in. Select your login method below.
	p 
		span With:&nbsp;
		a(href="/auth/twitter") Twitter
		span ,&nbsp;
		a(href="/auth/facebook") Facebook
		span , or&nbsp;
		a(href="/auth/google") Google
	p Once this window closes, you'll be logged in. Then just click on the video you wanted to add again.
